@model SaleLaptopSystem.Models.User

@{ ViewBag.Title = "Update Profile"; }

<h2 class="text-center">Update profile</h2>


<!-- Default form subscription -->
<form class="text-center border border-light p-5" action="/Users/Edit" method="post">
    <input type="hidden" class="form-control mb-4" placeholder="Name" value="@Model.ID" name="id">
    <input type="text" class="form-control mb-4" placeholder="Name" value="@Model.Fullname" name="name">
    <input type="email" class="form-control mb-4" placeholder="E-mail" disabled value="@Model.Email" name="email">
    <input type="password" class="form-control mb-4" placeholder="Password" value="@Model.Password" name="pass">
    <input type="password" class="form-control mb-4" placeholder="Confirm password" value="@Model.Password" name="confirm">
    <input type="text" class="form-control mb-4" placeholder="Phone" value="@Model.Phone" name="phone">
    <input type="text" class="form-control mb-4" placeholder="Address" value="@Model.Address" name="address">
    <button class="btn btn-info btn-block" type="submit">Update</button>
</form>
<!-- Default form subscription -->


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
