@using SaleLaptopSystem.Models
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
    <title>@ViewBag.Title - Welcome to Smart Lap System</title>
    @Styles.Render("~/Content/css/shared.css")

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" id="nav">
        <div class="nav-link waves-effect waves-light">@Html.ActionLink("Smart Lap", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</div>
        <button class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container-lg">
            <div class="collapse navbar-collapse text-center" id="menu">
                <ul class="navbar-nav">
                    <li class="nav-item">@Html.ActionLink("Asus", "Index", "Products", new { brand = 1 }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Dell", "Index", "Products", new { brand = 2 }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Apple", "Index", "Products", new { brand = 3 }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("HP", "Index", "Products", new { brand = 4 }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })</li>



                    @if (Session["User"] == null )
                    {
                        <li class="nav-item">@Html.ActionLink("Login", "Login", "Users", null, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Sign Up", "SignUp", "Users", null, new { @class = "nav-link" })</li>
                        <li class="nav-item">
                            <a href="/Orders/">
                                @{
                                    int quantity = 0;
                                    if (Session["cart"] != null)
                                    {
                                        List<CartItem> carts = (List<CartItem>)Session["cart"];
                                        quantity = carts.Sum(item => item.Quantity);
                                    }
                                }
                                <img id="cart" src="~/img/cart.png"><span id="cartNum">@quantity</span>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a href="/Orders/">
                                @{
                                    int quantity = 0;
                                    if (Session["cart"] != null)
                                    {
                                        List<CartItem> carts = (List<CartItem>)Session["cart"];
                                        quantity = carts.Sum(item => item.Quantity);
                                    }
                                }
                                <img id="cart" src="~/img/cart.png"><span id="cartNum">@quantity</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown show">
                                <img class="showUser rounded-circle" onerror="this.src='https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg';" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownMenuLink" src="@((Session["User"] as User).Image)" alt="Alternate Text" />
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    @Html.ActionLink("Logout", "Logout", "Users", null, new { @class = "nav-link" })
                                </div>
                            </div>
                        </li>
                    }
                </ul>
                @using (Html.BeginForm("Index", "Search", FormMethod.Get, new { @class = "col-md-3" }))
                {
                    <div class="input-group-append ml-auto" id="search">
                        <input type="text" class="form-control" name="key" placeholder="Search">
                        <div class="input-group-append">
                            <button type="submit">Search</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </nav>



    <div class="container-fluid">
        <!--image slider start-->
        <div class="slider">
            <div class="slides">
                <!--radio buttons start-->
                <input type="radio" name="radio-btn" id="radio1">
                <input type="radio" name="radio-btn" id="radio2">
                <input type="radio" name="radio-btn" id="radio3">
                <input type="radio" name="radio-btn" id="radio4">
                <!--radio buttons end-->
                <div class="slide first"><img src="~/img/head1.jpg" alt=""></div>
                <div class="slide"><img src="~/img/head2.jpg" alt=""></div>
                <div class="slide"><img src="~/img/head3.jpeg" alt=""></div>
                <div class="slide"><img src="~/img/head4.jpg" alt=""></div>
            </div>
            <!--manual navigation start-->
            <div class="navigation-manual">
                <label for="radio1" class="manual-btn"></label>
                <label for="radio2" class="manual-btn"></label>
                <label for="radio3" class="manual-btn"></label>
                <label for="radio4" class="manual-btn"></label>
            </div>
            <!--manual navigation end-->
        </div>
        <!--image slider end-->
    </div>
    @{ string path = HttpContext.Current.Request.Url.AbsolutePath; }

    @if (!path.Contains("Home/Contact") && !path.Contains("Users") && !path.Contains("Orders"))
    {
        <div class="text-center">
            <a href="Products?minimunPrice=10000000&maximumPrice=20000000"><button class="btn-purple rounded-pill btn purple-gradient text-dark">10.000.000 - 20.000.000</button></a>
            <a href="Products?minimunPrice=20000000&maximumPrice=30000000"><button class="btn-purple rounded-pill btn purple-gradient text-dark">20.000.000 - 30.000.000</button></a>
            <a href="Products?minimunPrice=30000000&maximumPrice=40000000"><button class="btn-purple rounded-pill btn purple-gradient text-dark">30.000.000 - 50.000.000</button></a>
            <a href="Products?minimunPrice=50000000&maximumPrice=200000000"><button class="btn-purple rounded-pill btn purple-gradient text-dark">50.000.000 - 200.000.000</button></a>
        </div>
    }



    <div class="main-body p-5">
        <div class="container">
            @RenderBody()
        </div>
    </div>



    <!-- Footer -->
    <footer class="page-footer font-small pt-4 footer">
        <div class="container-fluid text-center text-md-left">
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <h5 class="text-uppercase font-weight-bold">Address</h5>
                    <h5>TRƯỜNG ĐẠI HỌC FPT CẦN THƠ</h5>
                    <p>600, đường Nguyễn Văn Cừ (nối dài), phường An Bình, quận Ninh Kiều, TP. Cần Thơ</p>
                </div>
                <hr class="clearfix w-100 d-md-none pb-3">
                <div class="col-md-6 mb-md-0 mb-3">
                    <h5 class="text-uppercase font-weight-bold">Contact</h5>
                    <p>Email: SmartLap@gmail.com</p>
                    <p>Phone: 0394328223</p>
                </div>
            </div>
        </div>
        <div class="footer-copyright text-center py-3">
            © 2020 Copyright: <a href="https://mdbootstrap.com/">
                SmartLap.com
            </a>
        </div>
    </footer>
    <!-- Footer -->
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>

    @Scripts.Render("~/Scripts/js/shared.js")
    @RenderSection("scripts", required: false)

</body>

</html>