@model SaleLaptopSystem.Models.ProductDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProductDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Processor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Processor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RAM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RAM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Screen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Screen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Storage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Storage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Graphic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Graphic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Video)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Video)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Connection)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Connection)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Keyboard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Keyboard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Battery)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Battery)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
