@model SaleLaptopSystem.Models.ProductDetail

@{
    ViewBag.Title = "Details";
}



<div style="background-color:lightpink">
    <h1 class="text-center"><b><i>ProductDetail</i></b></h1>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <h3><b>@Html.DisplayNameFor(model => model.Processor)</b> </h3>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Processor)
        </dd>

        <dt>
            <h3><b>@Html.DisplayNameFor(model => model.RAM)</b> </h3>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RAM)
        </dd>

        <dt>
            <h3><b>@Html.DisplayNameFor(model => model.Screen)</b> </h3>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Screen)
        </dd>

        <dt>
            <h3><b>@Html.DisplayNameFor(model => model.Storage)</b> </h3>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Storage)
        </dd>

        <dt>
            <h3><b>@Html.DisplayNameFor(model => model.Graphic)</b> </h3>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Graphic)
        </dd>

        <dt>
            <h3><b>@Html.DisplayNameFor(model => model.Size)</b> </h3>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            <h3><b>@Html.DisplayNameFor(model => model.OS)</b> </h3>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OS)
        </dd>

        <dt>
            <h3><b>@Html.DisplayNameFor(model => model.Video)</b> </h3>
        </dt>

        <dd>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="@Html.DisplayFor(Model => Model.Video)" allowfullscreen></iframe>
            </div>
        </dd>

        <dt>
            <h3><b>@Html.DisplayNameFor(model => model.Connection)</b> </h3>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Connection)
        </dd>

        <dt>
            <h3><b>@Html.DisplayNameFor(model => model.Keyboard)</b> </h3>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Keyboard)
        </dd>

        <dt>
            <h3><b>@Html.DisplayNameFor(model => model.Battery)</b> </h3>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Battery)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
