@model IEnumerable<SaleLaptopSystem.Models.Order>
@using SaleLaptopSystem.Models 

@{
    ViewBag.Title = "Checkout";
}
@Styles.Render("~/Content/css/cart.css")

<h2>Your cart</h2>

<table class="table product">
    <h1 class="text-center rounded-pill btn-pink">Your cart</h1>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (CartItem item in (List<CartItem>)Session["cart"])
        {
            <tr>
                <td scope="row">1</td>
                <td class="item-image"><img class="item-image" src="./img/laptop.jpg" alt=""></td>
                <td>@item.Product.Name</td>
                <td>@item.Product.Price</td>
                <td>
                    <div>
                        <button class="button" value="@item.Product.ID" onclick="giam(this)">-</button>
                        <input id="quantity-@item.Product.ID" type="number" min="1" max="9" step="1" disabled value="@item.Quantity">
                        <button id="btnPlus-@item.Product.ID" class="button" value="@item.Product.ID" onclick="tang(this)">+</button>
                    </div>
                </td>
            </tr>
        }
        <tr>
            <td align="right" colspan="6">Sum</td>
            <td>
                @{
                    List<CartItem> carts = (List<CartItem>)Session["cart"];
                    var total = carts.Sum(item => item.Product.Price * item.Quantity);
                }
                @total
            </td>
        </tr>
    </tbody>
</table>

@Scripts.Render("~/Scripts/js/cart.js"); 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    



    //$(document).ready(function () {
    //    //function will be called on button click having id btnsave
    //    $("#btnPlus-" + prodId).click(function () {
    //        console.log("#btnPlus-" + prodId)
    //        $.ajax(
    //            {
    //                type: "GET", //HTTP POST Method  
    //                url: "Cart", // Controller/View   
    //                data: { //Passing data  
    //                    prodID: quantity, //Reading text box values using Jquery   
    //                }

    //            });

    //    });
    //});

</script>
