@model  PagedList.IPagedList<SaleLaptopSystem.Models.Product>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Products";
}
@Styles.Render("~/Content/css/index.css")


<h1 class="text-center btn-block btn-pink rounded-pill">@ViewBag.Brand</h1>
<div class="row row-cols-1 row-cols-md-3">

    @foreach (var p in Model)
    {
       
                <div class="col mb-4">
                    <!-- Card -->
                    <div class="card card-product">
                        <!--Card image-->
                        <div class="view overlay">

                            <div class="carousel slide" data-ride="carousel" data-interval="2000" style="width:350px; height: 350px;">
                                <div class="carousel-inner">
                                    @foreach (var imange in p.Images)
                                    {
                                        if (p.ID == imange.ProductID)
                                        {
                                            
                                                <div class="carousel-item @(imange == p.Images.First() ? "active" : "")">
                                                    <img class="card-img-top" src="@imange.image">
                                                    @*style=" padding-left: 40px; padding-top: 40px; width: 330px;*@
                                                </div>
                                     
                                        }
                                    }
                                </div>
                                
                            </div>
                        </div>
                        <!--Card content-->
                        <div class="card-body">
                            <h4 class="card-title" style="width:300px; height: 50px;">@Html.DisplayName(p.Name)</h4>
                            <h5>
                                @if (p.Discount > 1)
                                {
                                    <span class="red-text">$@Html.DisplayName(p.Price.ToString())đ</span> <span class="discount">$@Html.DisplayName(p.Discount.ToString()) đ</span>
                                }
                                else
                                {
                                    <span class="red-text">$@Html.DisplayName(p.Price.ToString())đ</span>
                                }


                            </h5>
                            <hr>
                            <div class="card-title" style="width:300px; height: 120px;">
                                <p class="card-text purple-text">
                                    @Html.DisplayName(p.Features)
                                </p>
                                </div>
                            </div>
                            <div class="text-center">
                                <a href="/ProductDetails/Details?id=@p.ProductDetailID"><button type="button" class="btn btn-pink btn-md rounded-pill">Readmore</button></a>
                                <a href="/Orders/Cart?prodID=@p.ID"><button class="btn btn-pink btn-md rounded-pill">Add Cart</button></a>
                            </div>
                        </div>
                    <!-- Card -->
                </div>
        
    }

</div>
Page @(Model.Count < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort }));
@Scripts.Render("~/Scripts/js/cart.js")
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>